/* Estilo base para el fondo oscuro */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1, h2, p {
    color: #e0e0e0;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Estilo del contenedor principal */
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo de los botones */
button {
    background-color: #6200ea; /* Color morado brillante */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #3700b3;
    transform: scale(1.05);
}

/* Estilo para los campos de entrada */
input[type="text"], input[type="number"], input[type="button"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus {
    background-color: #444;
    outline: none;
}

/* Estilo para los contenedores de texto */
.wallet-info, .balance-info, .sacrifice-info {
    margin: 20px 0;
}

.wallet-info span, .balance-info span, .sacrifice-info span {
    font-weight: bold;
    color: #6200ea;
}

/* Contenedor de transacciones */
.transaction-counter {
    margin: 20px 0;
    font-size: 18px;
    color: #fff;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
}

/* Estilo de los enlaces */
a {
    color: #6200ea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el pie de página */
footer {
    margin-top: 50px;
    font-size: 14px;
    color: #bbb;
}

footer a {
    color: #6200ea;
}

/* Estilos de transición */
* {
    transition: all 0.3s ease;
}

/* Animaciones para botones */
button {
    position: relative;
    overflow: hidden;
}

button:before {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s ease;
    transform: scale(0);
    pointer-events: none;
}

button:hover:before {
    transform: scale(1);
    top: 50%;
    left: 50%;
    margin-left: -150%;
    margin-top: -150%;
}

/* Contenedor de la billetera conectada */
#walletAddress {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

#walletAddress span {
    color: #6200ea;
    font-weight: bold;
}
